.task-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroller-block {
  font-size: 1.5em;
  width: 100%;
  height: auto;
  background: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroller-container {
  position: relative;
  width: inherit;
  height: 130px;
  transition: transform 1s ease-out;
}

.card {
  position: absolute;
  left: calc(50% - 65px);
  height: 130px;
  width: 130px;
  margin-left: 10px;
  margin-right: 10px;
  background: lightblue;
  transition: transform 1s ease-out 0.05s, opacity 0.5s ease-in 0.1s;
  animation: plug ease-out 0.03s;
}

@keyframes plug {
  from {

  }
  to {

  }
}

@keyframes disappear {
  from {
      transform: rotateY(180deg);
  }
  to {
      transform: rotateY(0deg);
  }
}

.buttons {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  left: calc(50% - 20px);
  bottom: -150px;
  padding: 8px;

}

.visible-count {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  top: -100px;
  padding: 8px;

}

.arrow {
  background-color: transparent;
  height: 20px;
  width: 20px;
  background: lightseagreen;
  padding: 20px;


}

.arrow.left {
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  border-left: 5px solid rgba(0, 0, 0, 0.3);
  transform: translateX(-200%) rotate(45deg);
}

.arrow.right {
  border-right: 5px solid rgba(0, 0, 0, 0.3);
  border-top: 5px solid rgba(0, 0, 0, 0.3);
  transform: translateX(200%) rotate(45deg);
  
}